:root {
    --prim: #000000;
    --sec: #FFBE00;
    --tert: #BEBEC3;
    --quat: #003E97;
    --quin: rgba(190, 190, 195, 0.25);
}


body {
    background-color: var(--prim);
}

p, a {
    font-family: 'Jura', sans-serif !important;
    color: var(--tert) !important;
}

h1, h2 {
    font-family: 'Audiowide', sans-serif;
    color: var(--tert);
}

ul {
    list-style-type: none;
}

footer ul, footer p {
    font-size: 1rem;
}

footer i {
    font-size: 3rem;
}

section {
    margin: 5rem;
}

.navbar {
    background-image: linear-gradient(to right, var(--quat), var(--prim));
    border-bottom: 0.1rem solid var(--tert);
}


footer {
    background-image: linear-gradient(to left, var(--quat), var(--prim));
    border-top: 0.1rem solid var(--tert);
}

footer ul {
    padding-top: 2rem;
}


.nav-link {
    font-family: 'Audiowide', sans-serif;
    color: var(--tert);
    text-decoration: underline;
    font-weight: 700;
}


.navbar .active {
    background-color: var(--sec);
    color: var(--quat) !important;
    /* margin-top: .7rem; */
    /* padding: 3rem 0.3rem; */
    font-weight: 700;
    border-radius: 2rem;
}

form {
    padding: 0rem 1rem;
    display: flex;

}

.form-control {
    background-color: rgba(190, 190, 195, 0.05);
    border-radius: 2rem !important;
    border-color: var(--tert) !important;
    border-width: .15rem;
}

form ::placeholder {
    color: var(--tert) !important;
    font-family: 'Audiowide', sans-serif;
}

input {
    color: var(--tert) !important;
}

.fa-bars {
    font-size: 2.5rem;
    color: var(--tert);
}

/* ======================================================CALENDAR=================================================================================== */

.selector .card {
    margin: .3rem;
    border-width: .1rem;
    border-radius: .7rem;
    border-color: var(--quat);
    background-color: var(--prim);
    aspect-ratio: 1/1;
    /* justify-content: center;
    align-content: center;  */
}

.selector .card p {
    color: var(--sec) !important;
    font-size: 2.5rem;
    margin: 0rem;
}

main i, section i {
    color: var(--sec) !important;
    font-size: 2rem;
    /* margin: 0px 0px; */
}


.selector {
    text-align: center;
    font-weight: 700;

}

.container .calendar {
    margin: -4rem 0rem -4rem 0rem;
}
/* ====================================================CALENDAR-END================================================================================= */

.range {
    display: inline-flex;
    color: var(--sec);
    font-family: 'Jura', sans-serif !important;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: -2rem;
}

.slider {
    justify-content: space-evenly;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.15rem;
    background: var(--quat);
}

input[type=range] {
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
border: 3px solid var(--sec);
height: 1.5rem;
width: 1.5rem;
border-radius: 1rem;
background: var(--prim);
margin-top: -12px;
}

/* ===============================================CAROUSEL SECTION======================================================= */

.carousel-inner {
    aspect-ratio: 5/2;
    margin: auto;
    vertical-align: middle;
}

.carousel-inner a {
    margin: auto;
}

#carslide1 {
    content: url(../images/photos/iss066e023536.jpg);
}

#carslide2 {
    content: url(../images/photos/nasa-7Cz6bWjdlDs-unsplash.jpg);
}

#carslide3 {
    content: url(../images/photos/nasa-8Hjx3GNZYeA-unsplash.jpg);
}

#carslide4 {
    content: url(../images/photos/nasa-CpHNKNRwXps-unsplash.jpg);
}

#carslide5 {
    content: url(../images/photos/nasa-n463SoeSiVY-unsplash.jpg);
}

.carousel-item p  {
    color: yellow !important;
    font-size: 3rem !important;
    z-index: 9 !important;
    margin-bottom: 10rem !important;
}

/* =================================================CAROUSEL-END========================================================= */

#space-walk {
    content: url(../images/photos/nasa-gYwfpVI2JzM-unsplash.jpg);
}

.card {
    margin: .1rem;
    border-width: .1rem;
    border-radius: 1rem;
    border-color: var(--tert);
    justify-content: center;
}

.main-text {
    background-color: var(--prim);
    border-color: var(--prim);
    font-size: 1.2rem;
}

.main-text a {
    color: var(--sec) !important;
}

.main-text i {
    border: 0.1rem solid var(--sec);
    border-radius: .7rem;
    padding: .5rem;
    margin: .2rem;
}

.caption-links {
    justify-content: space-between;
}

.card-text {
    text-decoration: none !important;
}

/* div .thumb {
    aspect-ratio: 1/1;
    
} */

.card div {
    border-radius: .9rem;
    align-content: center;
}

#a {
    content: url(../images/photos/nasa-OLlj17tUZnU-unsplash.jpg);
}

#b {
    content: url(../images/photos/nasa-JHyiw_dpALk-unsplash.jpg);
}

#c {
    content: url(../images/photos/nasa-CpHNKNRwXps-unsplash.jpg);
}

#d {
    content: url(../images/photos/nasa-jlV2k_Fx0fc-unsplash.jpg);
}

#e {
    content: url(../images/photos/nasa-rTZW4f02zY8-unsplash.jpg);
}

#f {
    content: url(../images/photos/eric-tompkins-JsWBc--sf2o-unsplash.jpg);
}

#g {
    content: url(../images/photos/nasa-7Cz6bWjdlDs-unsplash.jpg);
}

#h {
    content: url(../images/photos/nasa-8Hjx3GNZYeA-unsplash.jpg);
}

#i {
    content: url(../images/photos/nasa-cIX5TlQ_FgM-unsplash.jpg);
}

#j {
    content: url(../images/photos/nasa-n463SoeSiVY-unsplash.jpg);
}

#k {
    content: url(../images/photos/nasa-NuE8Nu3otjo-unsplash.jpg);
}

#l {
    content: url(../images/photos/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

#m {
    content: url(../images/photos/nasa-UPyf9vu0FiI-unsplash.jpg);
}

#n {
    content: url(../images/photos/nasa-V4ZksNimxLk-unsplash.jpg);
}

#o {
    content: url(../images/photos/nasa-wAkLQnT2TC0-unsplash.jpg);
}

#p {
    content: url(../images/photos/nasa-xFO2Xt33xgI-unsplash.jpg);
}

#q{
    content: url(../images/photos/nasa-Yj1M5riCKk4-unsplash-2.jpg);
}

#r{
    content: url(../images/photos/nasa-Zzc0vZE2JZI-unsplash.jpg);
}






@media (max-width: 480px) {
    .container {
      padding: 0;
      margin: 0;
    }

    body {
        padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
    }

    form {
        width: 40%;
    }
  }